<div class="row mb-2">
  <div class="w-100 d-flex align-items-center">
    <h2 class="h2">Customers</h2>
    <div class="btn-group ml-auto ">
      <button class="btn btn-primary" (click)="openAddCustomerPopup()">Add</button>
      <button class="btn btn-primary ml-2" (click)="openEditCustomerPopup()" [disabled]="!activeCustomer">Edit</button>
      <button class="btn btn-primary ml-2" (click)="deleteActiveCustomer()" [disabled]="!activeCustomer">Delete</button>
    </div>
  </div>
</div>
<div class="row">
  <ng-container *ngIf="customers">
    <ul class="list-group col-4">
      <button *ngFor="let customer of customers"
              class="list-group-item text-left"
              [ngClass]="{'active': customer.id === (activeCustomer && activeCustomer.id)}"
              (click)="setActiveCustomer(customer)">
        {{customer.firstName}} {{customer.lastName}}
      </button>
    </ul>
  </ng-container>
</div>
